<footer class="flex justify-between md:px-24 mt-12">
    <h4 class="text-white my-auto lg:w-1/4">Politica de Privacidad</h4>
    <figure
      class="social-container w-2/4 flex justify-between md:w-60 lg:justify-around"
    >
      <img
        class="logo-social"
        src="https://res.cloudinary.com/djqzi4hgo/image/upload/v1684660340/brand%20logos/facebook-white_wmzt2p.png"
        alt="logo-facebook-white"
      />
      <img
        class="logo-social"
        src="https://res.cloudinary.com/djqzi4hgo/image/upload/v1684660149/brand%20logos/linkedin-white_rpk7pe.png"
        alt="logo-linkedin-white"
      />
      <img
        class="logo-social"
        src="https://res.cloudinary.com/djqzi4hgo/image/upload/v1684660443/brand%20logos/logo-twitter-white_m5d0xc.png"
        alt="logo-twitter-white"
      />
    </figure>
  </footer>
